:host {
  height: 100vh;
  display: block;
  background-color: #07bafc;
  border: 7px solid #0277a7;
}

.custom-card {
  width: 350px;
  max-width: 100%;
  background-color: #eee;
}

.user-icon {
  font-size: 100px;
  color: #50A057;
}
